@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Additional styles can be added here */
